.MainCard{
    display: flex;
    margin-top:30px;
}

.LeftCard{
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left:5%;
    border-radius: 5px;
    display: flex;
}

.Feilds{
    width: 580px;
    height: 67px;
    border-bottom-color:grey;
    color: rgb(53, 150, 216);
    text-align: left;
    border-bottom: .5px solid rgb(163, 157, 157);
}

.Content{
    margin-left:10px;
    margin-top:10px;
    border-bottom-color:grey;
}

.damDetails{
    color: Black;
    margin-left: 55%;
    text-align: left;
    padding-top: 0px; 
}

.Btn{
    margin-top:10px;
    width: 45%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(210, 46, 155);
    border-radius: 15px;
    color:#fff;
    font-weight: 600;
    font-style: bold;
    border: none;
    font-size: 20px;
}

.SecondCard{
    width: 560px;
    height: 450px;
    margin-left:4%;
    color: rgb(53, 150, 216);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:3px solid rgb(207, 207, 217);
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}
